<!DOCTYPE html>
<html>

<head>
    <title>Real Time Products</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();


        const productList = document.getElementById('product-list');

        socket.on('cart_updated', ({ cartId, updatedProducts }) => {

            productList.innerHTML = '';

            updatedProducts.forEach(product => {
                const productItem = document.createElement('li');
                productItem.textContent = product.name;
                productList.appendChild(productItem);
            });
        });
    </script>
</head>

<body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="product-list">
        <!-- Los productos se agregarán acá -->
    </ul>
</body>

</html>